<div class="container">
  <section>

    <div class="project_title">
      <div class="row">
        <div class="col-sm-3">
          <h1>Project 1:</h1>
        </div>
        <div class="col-sm-4">
          <a href="http://bit.ly/ArtsyApp"target="_blank"><img src="../assets/images/artsy_logo.png" alt="Artsy" style="height:75px;border:0;"></a>
        </div>
        <div class="col-sm-5"></div>
      </div>
    </div>


    <div class="project_tech">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <h2>Technologies:</h2>
          </div>
          <div id="logos">
            <div class="row">
              <div class="col-sm-2">
                <img src="../assets/images/angularjs.png" alt="AngularJS" style="height:45px;border:0;">
              </div>
              <div class="col-sm-2">
                <img src="../assets/images/rails.png" alt="Ruby on Rails" style="height:55px;border:0;">
              </div>
              <div class="col-sm-2">
                <img src="../assets/images/postgresql.png" alt="PostgreSQL" style="height:75px;border:0;">
              </div>
              <div class="col-sm-2">
                <img src="../assets/images/bootstrap-logo.png" alt="Bootstrap" style="height:75px;border:0;">
              </div>
              <div class="col-sm-2">
                <img src="../assets/images/S3.png" alt="AWS S3" style="height:50px;border:0;">
              </div>
              <div class="col-sm-2">
                <img src="../assets/images/Etsy_logo.png" alt="Etsy API" style="height:75px;border:0;">
              </div>
            </div>
          </div>

        <div id="text">
          <div class="row">
            <div class="col-sm-6">
              <h2>What does the app do?</h2>
              <p>Artsy is an application aimed at art lovers.  The target audience is more of a local community level as it encourages artists to share their skills as well as learn from others.</p>
              <p>The three key aims of the app are:<br>1. provide a market place for home made art, bringing buyers and sellers together<br>2. provide a forum for users to arrange and host meet-ups<br> 3. allow users to connect with eachother, to teach or be taught new skills</p>
              <p>The app is loosely based on Etsy meets Meetup.com. and allows for full RESTful, CRUD functionality.</p>
              <p>An API links to the Etsy site to search for art materials while S3 is utilised for images and authentication is offered via Github.</p>
            </div>

            <div class="col-sm-6">
              <h2>Wins & Challenges</h2>
              <p>Artsy has several database instances behind it, one each for Users, Events and Products. It also has several join tables which link Genres to Events and Products, and Users to Products and to Events.</p>
              <p>One challenge was ensuring that during scaffolding, the relationships were properly understood so that they could be built accurately. The correct associations also had to be completed post-scaffold to ensure that the required data fields could be accessed, as required.</p>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="project_image">
        <h3>Image of Home Page</h3>
        <img src="./assets/images/artsy_home_page.png">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
      <h2>xxx</h2>
      <p>The landing page is simple, showing a route to login and a brief description of the app. The 'Parallax class' is used to hold the user's interest - scrolling through art related backgrounds and gifs, while the narrative explains what the site's objective is.<br>Once a user is authenticated they have access to the full site, and can<br></p>
      <ul style="list-style-type:circle">
      <li>Meet Artists</li>
      <li>Buy Art</li>
      <li>View Events</li>
      </ul>
      <p>Users can register directly or login with GitHub. The User will be re-directed to the profile-update page upon first access, using their chosen login method.</p>
    </div>

    The landing page is simple, showing a route to login and a brief description of the app. The 'Angular Parallax class' is used to hold the user's interest - scrolling through art related backgrounds and gifs, while the narrative explains what the site's objective is.

    Once a user is authenticated they have access to the full site, and can

    Meet Artists
    Buy Art
    View Events
    Users can register directly or login with GitHub. In either case, the user will be re-directed to the profile-update page upon first access, using their chosen login method. This ensures complete user profiles so that all users can maximise their enjoyment of the site.




    <%# <div class="parallax"></div>
    <div class="content">
      <p>The site is aimed at the local arts & crafts community, bringing together artists, buyers and keen amateurs who may also want to up-skill or learn a new craft.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="parallax1"></div>
      <div class="content1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
      </div>

    <div class="parallax2"></div>
    <div class="content2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
    </div>%>

  </section>
</div>
