<div id="hero">
  <div class=row></div>
</div>


<div class="content">
  <p>PUT SOMETHING INTERESTING HERE.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="parallax"></div>

<div class="parallax1"></div>
  <div class="content1">
    <section id="projects">
      <h2>PROJECTS</h2>
      <div class="row">
        <div class="col-sm-6">
          <h2>Artsy</h2>
          <p>An application for the art community</p>
          <a href="/artsy"target="_blank"><img src="../assets/images/Artsy.png" alt="Artsy" style="height:150px;border:0;"></a>
        </div>
        <div class="col-sm-6">
          <h2>Bet Bucket</h2>
          <p>Accumulator app for the discerning gambler</p>
          <a href="/betbucket"target="_blank"><img src="../assets/images/Bet_Bucket.png" alt="Bet_Bucket" style="height:150px;border:0;"></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h2>Chicken Run</h2>
        <p>Hen Weekend Scheduler to organise the chooks</p>
        <a href="/chickenrun"target="_blank"><img src="../assets/images/Chicken_Run.png" alt="Chicken_Run" style="height:150px;border:0;"></a>
      </div>
      <div class="col-sm-6">
        <h2>Phwoar in a Row</h2>
        <p>Retro Connect-4 with retro hunks</p>
        <a href="/phwoarinrow"target="_blank"><img src="../assets/images/Phwoar_in_a_Row.png" alt="Phwoar_in_a_Row" style="height:150px;border:0;"></a>
      </div>
    </div>
  </section>
</div>

<div class="parallax2"></div>
<div class="content2">
  <section id="resume">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <h2>resume</h2>
        <p>I've got a few years experience, most of which lends some relevance to web development, which is a handy thing!</p>
        <p>Take a sneaky pecan see what I have been up to in a nutshell!</p>
        <a href="assets/resume/SW_Resume.pdf"target="_blank"><img src="../assets/images/nutshell.jpg" alt="life in a nutshell" style="width:60px;height:60px;border:0;"></a>
      </div>
    </div>
  </section>
</div>

<div class="parallax3"></div>
<div class="content3">
  <section id="about">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <h2>about</h2>
        <p>blah blah blah blah blah blah blah lah blah blah blah blah blah blah lah blah blah blah blah blah blah lah blah blah blah blah blah blah lah blah blah blah blah blah blah </p>
      </div>
    </div>
  </section>
</div>





       
