    <main>
      <section>
        <div id="hero"></div>
      </section>

      <div class="container">
        <section id="projects">
          <h2>PROJECTS</h2>
          <div class="row">
            <div class="col-sm-6">
              <h2>Artsy</h2>
              <p>An application for the art community</p>
              <a href="/artsy"target="_blank"><img src="../assets/images/Artsy.png" alt="Artsy" style="height:150px;border:0;"></a>
            </div>
            <div class="col-sm-6">
              <h2>Bet Bucket</h2>
              <p>Accumulator app for the discerning gambler</p>
              <a href="/betbucket"target="_blank"><img src="../assets/images/Bet_Bucket.png" alt="Bet_Bucket" style="height:150px;border:0;"></a>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <h2>Chicken Run</h2>
              <p>Hen Weekend Scheduler to organise the chooks</p>
              <a href="/chickenrun"target="_blank"><img src="../assets/images/Chicken_Run.png" alt="Chicken_Run" style="height:150px;border:0;"></a>
            </div>
            <div class="col-sm-6">
              <h2>Phwoar in a Row</h2>
              <p>Retro Connect-4 with retro hunks</p>
              <a href="/phwoarinrow"target="_blank"><img src="../assets/images/Phwoar_in_a_Row.png" alt="Phwoar_in_a_Row" style="height:150px;border:0;"></a>
            </div>
          </div>
        </section>

        <section id="resume">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2>resume</h2>
              <p>I've got a few years experience, most of which lends some relevance to web development, which is a handy thing!</p>
              <p>Take a sneaky pecan see what I have been up to...in a nutshell!</p>
              <a href="assets/resume/SW_Resume.pdf"target="_blank"><img src="../assets/images/nutshell.jpg" alt="life in a nutshell" style="width:60px;height:60px;border:0;"></a>
            </div>
          </div>
        </section>


        <section id="about">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2>About</h2>
              <p>Etiam a nunc nec neque gravida tincidunt. Nulla et interdum libero. Pellentesque ultricies, ex ac blandit congue, elit dolor rhoncus sem, non eleifend nisl metus ac tellus. Suspendisse tincidunt fringilla aliquam. Morbi scelerisque orci nisl, maximus pulvinar augue auctor et.</p>
            </div>
          </div>
        </section>

        <section id="blog">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2>blog</h2>
            </div>
          </div>
        </section>

      </div>

    </main>
    <footer>
      <p>&copy; Beknow'in 2017</p>
    </footer>

  </body>
</html>
