@import "bootstrap/bootstrap-grid";
@import 'variables';
@font-face {
  font-family: goldenratio_demo;
  src: url("../assets/fonts/goldenratio_demo.ttf");
}
@font-face {
    font-family: "oxygen_light";
    src: url("../assets/fonts/oxygen_light.ttf");
}

* {
  font-family: inherit;
}

.heading-styles {
  text-transform: uppercase;
  letter-spacing: 2px;
}


body, p {
    font-size: 18px;
    font-family: $font;
}


a {
  color: black;
  text-decoration: none;
}

h1, h2, h3 {
  @extend .heading-styles;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  color: $brand-secondary;
  font-family: $heading;
}

h3 {
  font-size: 10px;
  font-family: $font;
  font-weight: 300;
}

ol, ul, li {
  font-family: $font;
  font-size: 18px;
  line-height: 32px;
}
header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: rgba(20, 20, 20, 0);
  transition: background-color 0.2s ease;
  &.opaque {
    background-color: rgba(20, 20, 20, 0.6);
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        float: right;
        margin-left: 20px;
        line-height: 40px;
        &:last-of-type {
          margin-left: 0;
        }
        &.menu {
          color: $white;
          cursor: pointer;
          display: none;
          font-size: 20px;
        }
        a {
          color: $white;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: $white;
            position: absolute;
            bottom: -4px;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s ease;
          }
          &:hover {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid $brand-color;
  &:last-of-type {
    border-bottom: 0;
  }
  h2 {
    font-size: 28px;
  }
}
.top_home {
  width: 100%;
  height: 100%;
}

#top_banner1 {
  height: 125px;
  background-color: green;
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  padding:0 60px;
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 30%;
}
#top_banner2 {
  height: 125px;
  background-color: orange;
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  padding:0 60px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 60%;

}
#top_banner3 {
  height: 125px;
  background-color: blue;
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  padding:0 60px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 50%;

}
#top_banner4 {
  height: 125px;
  background-color: red;
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  padding:0 60px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 40%;

}

// #top_banner_left {
//   background-color: $white;
//   width: 40%;
//   height: 960px;
//     img {
//       border-style: solid;
//       border-width: 2px;
//       border-color: $brand-color;
//       border-radius: 50px;
//     margin-top: 40%;
//     margin-left: 40%;
//   }
// }
//
// #top_banner_mid {
//   background-color: $brand-secondary;
//   width: 50%;
//   height: 960px;
//   h1 {
//     margin-top: 340px;
//     margin-left: 20px;
//     color: $white;
//     font-family: punktype;
//     font-size: 30px;
//     display: inline-block;
//   }
//   p {
//     color: white;
//   }
// }
//
// #top_banner_right {
//   background-color: $white;
//   width: 10%;
//   height: 960px;
// }


// .circle {
// 	border-radius: 50%;
// 	width: 200px;
// 	height: 200px;
// 	/* width and height can be anything, as long as they're equal */
// }
//
// /* Create the animation blocks */
// @keyframes spin {
// 	from { transform: rotate(0deg); }
// 	to { transform: rotate(360deg); }
// }
//
// /* Spinning, gradient circle; CSS only! */
// #advanced {
// 	width: 200px;
// 	height: 200px;
//
// 	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
// 	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
// 	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
//
// 	animation-name: spin;
// 	animation-duration: 3s; /* 3 seconds */
// 	animation-iteration-count: infinite;
// 	animation-timing-function: linear;
// }



#hero {
  height: 1050px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/pineapple_head.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
  }
}

#projects {
  h2 {
    font-size: 30px;
    color: $black;
    font-family: $heading;
  }
  .image {
    margin-bottom: 15px;
  }
}

#resume {
  a {
    @extend .heading-styles;
    border: 2px solid $brand-color;
    padding: 5px 10px;
    font-weight: bold;
    color: $brand-color;
    display: inline-block;
    &:hover {
      border-style: dotted;
    }
  }
}

.project_title {
  width: 100%;
  z-index: 1;
  position: fixed;
  margin-left: 0px;
  background-color: $white;
  margin-top: -100px;
  padding-top: 80px;
  img {
    float: left;
  }
  h1 {
    font-family: $heading;
    text-align: left;
    padding-top: 10px;
  }
}

.project_tech_top {
  border: 1px $brand-secondary;
  padding-top: 50px;
  text-align: justify;
  margin-top: 100px;
  margin-left: 20px;
  h2 {
  font-family: $heading;
  color: $black;
  padding-bottom: 20px;
  }
  div {
   background-color: $white ;
 }
}

.project_tech {
  border: 1px $brand-secondary;
  padding-top: 20px;
  text-align: justify;
  margin-top: 30px;
  margin-left: 20px;
  h2 {
  font-family: $heading;
  color: $black;
  padding-bottom: 20px;
  }
  div {
   background-color: $white ;
 }
}

.project_image {
  margin-top: 50px;
  margin-left: 20px;
  img {
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: $brand-secondary;
  }
}

.project_image2 {
  margin-top: 50px;
  margin-bottom: 80px;
  img {
    width: 500px;
    margin-left: auto;
    margin-right: auto
  }
  h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: $brand-secondary;
  }
}

.text {
  margin-left: 20px;
  margin-top: 20px;
  font-family: $font;
  // font-size: 14px;

}
#logos, #moreInfo {
  h2 {
    padding-bottom: 20px;
    font-family: $heading;
  }
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  padding:0 60px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

#moreInfo {
  padding-top: 50px;
}

#row_2_text, #wins {
  font-family: oxygen_light;
  padding-top: 30px;
  h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: $brand-secondary;

  }
}

#wins {
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  background-color: $brand-color;
  padding: 40px;
  padding-bottom: 10px;
  // padding-right: 40px;
  color: $white;
  margin-top: 20px;
  text-align: left;
  h2 {
    padding-bottom: 20px;
    font-size: 28px;
  }
}

footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 10px 0;
  text-align: center;
  color: $white;
}
//
@media only screen and (max-width: 575px) {
//
  header {
    height: auto;
    nav {
      ul {
        li {
          display: block;
          float: none;
          text-align: right;
          &.resume {
            display: block;
          }
        }
        .dropdown {
          display: none;
        }
      }
    }
  }
}






// // use for index page parallax

.parallax {
  height: 800px;
  width: 100%;
  background-image: url("/assets/images/lightbulbs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

 .content {
   text-align: center;
   height: 50%;
   p {
     color: #777;
   }
   div {
    background-color: $white ;
      h2{
      text-align: center;
      color: $brand-secondary;
      }
    }
  }

.parallax1 {
  height: 700px;
  width: 100%;
  background-image: url("/assets/images/lightbulbs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

 .content1 {
   text-align: center;
   height: 50%;
   p {
     color: #777;
   }
   div {
    background-color: $white ;
    h2 {
      text-align: center;
      color: $brand-secondary;
    }
  }
}
.parallax2 {
  height: 700px;
  width: 100%;
  background-image: url("../assets/images/lightbulbs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-position: center;
 }

 .content2 {
   text-align: center;
   height: 50%;
   p {
     color: #777;
   }
   div {
    background-color: $white ;
    h2 {
      text-align: center;
      color: $brand-secondary;
    }
  }

  .parallax3 {
    height: 700px;
    width: 100%;
    background-image: url("../assets/images/thank_you.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // background-position: center;
   }

   .content3 {
     text-align: center;
     height: 50%;
     p {
       color: #777;
     }
     div {
      background-color: $white ;
      h2 {
        text-align: center;
        color: $brand-secondary;
      }
    }
  }
}
